<style>
        * {
            font-family:Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        body {
            background-image:url('https://us.123rf.com/450wm/bankrx/bankrx2006/bankrx200600605/149953727-tile-letter-on-red-rack-in-word-reset-on-wood-background.jpg?ver=6');
            background-size: 90%;
            
        }
    </style>